name: laser_scanner
description: A Dart Library for Scanning Barcodes and QR Codes with Laser
version: 0.1.1
repository: https://github.com/PluginTechWinzad/plaser_scanner
environment:
  sdk: '>=2.19.0 <4.0.0'
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0


# The following section is specific to Flutter packages.
flutter:
  plugin:
    platforms:
      android:
        package: com.laser_scanner.laser_scanner
        pluginClass: LaserScannerPlugin
      # ios:
      #   pluginClass: LaserScannerPlugin

